body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}

.bookTitle {
    font-size: 1.5em;
}

#filterHeader {
    margin-bottom: 10px;
}

.removeTextUnderscore {
    text-decoration: none;
}

.largerText {
    font-size: 1.5em;
}

.setBackgroundWhite {
    background-color: white;
}

#textContents {
    width: 100%;
    height: 40vh;
}

.chapterTitle {
    width: 50vw;
    font-size: 0.8em;
}